<!-- Generated template for the TaskListItemComponent component -->
<ion-card (tap)="onTaskTap(task)">
    <img [src]="this.sanitizer.bypassSecurityTrustUrl(task.image.data)" />
    <ion-card-content>
      <ion-card-title>
          <!-- <ion-icon *ngIf="item.like" name="heart" (click)="item.like=!item.like; $event.stopPropagation();"></ion-icon> -->
          <!-- <ion-icon *ngIf="!item.like" name="heart-outline" (click)="item.like=!item.like; $event.stopPropagation();"></ion-icon> -->
        {{ task.name }}
      </ion-card-title>
      <p text-wrap class="ellipsis">
        {{ task.description }}
      </p>
    </ion-card-content>
  </ion-card>