<!--
  Generated template for the TaskDescriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">{{"BACK" | translate }}</button>
    </ion-buttons>
    <ion-title>{{ "DESCRIPTION" | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card class="full-height">
    <img [src]="this.sanitizer.bypassSecurityTrustUrl('data:image/png;base64,'+description.image)" />
    <ion-card-content>
      <ion-card-title>
        <ion-icon *ngIf="description.like" name="heart" (click)="removeFromFavorite(description)"></ion-icon>
        <ion-icon *ngIf="!description.like" name="heart-outline" (click)="addToFavorite(description)"></ion-icon>
        {{description.title}}
      </ion-card-title>
      <p>
        {{description.description}}
      </p>
      <ion-label>
        {{ "LEVEL" | translate }} : {{ description.level }}/5
      </ion-label>
      <ion-label>
        {{ "AGE" | translate}} : {{ description.age }}
      </ion-label>
      <button ion-button block>{{ "START" | translate }}</button>
    </ion-card-content>
  </ion-card>
</ion-content>